<html>
	<head>
		<title>MediCODE Dashboard</title>
		<link rel="stylesheet" href="css/add_record.css" />
	</head>
	<body>
		<p class="logo">MediCODE</p>
		<main>
			<header>
				<div class="details">
					<h1>Jane Doe</h1>
					<p class="detail">ID: 123456789</p>
					<p class="detail">Phone: 1234567890</p>
				</div>
			</header>
			<form>
				<div class="input-group">
					<label class="label">Date of visit</label>
					<input class="date" type="date" value="2023-06-29" />
				</div>
				<div class="input-group">
					<label class="label">Diagnosis</label>
					<textarea
						class="diagnosis"
						placeholder="Enter diagnosis"
						cols="30"
						rows="10"
						>
					</textarea>
				</div>
				<div class="input-group">
					<label class="label">Prescription</label>
					<textarea
						class="diagnosis"
						placeholder="Enter prescription"
						cols="30"
						rows="10"
						>
					</textarea>
				</div>
				<div class="input-group">
					<button>Add record</button>
				</div>
			</form>
		</main>
	</body>
</html>
