<html>
	<head>
		<title>MediCODE Dashboard</title>
		<link rel="stylesheet" href="css/view_records.css" />
	</head>
	<body>
		<p class="logo">MediCODE</p>
		<main>
			<header>
				<div class="details">
					<h1>Jane Doe</h1>
					<p class="detail">ID: 123456789</p>
					<p class="detail">Phone: 1234567890</p>
				</div>
				<button>Add a record</button>
			</header>
			<div class="table">
				<div class="record">
					<p class="title child date">Date</p>
					<p class="title child hospital">Hospital</p>
					<p class="title child diagnosis">Diagnosis</p>
					<p class="title child prescription">Prescription</p>
				</div>
				<div class="record">
					<p class="child date">29/6/2023</p>
					<p class="child hospital">Agha Khan</p>
					<p class="child diagnosis">Malaria</p>
					<p class="child prescription">Quinine</p>
				</div>
			</div>
		</main>
	</body>
</html>
